<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <ul class="list-unstyled">
            <li>Настройки Dota должны быть такими:
                <ul>
                    <li><strong>O</strong> - Сетка</li>
                    <li><strong>W</strong> - Пуф (быстрое применение <strong>вкл.</strong>)</li>
                    <li><strong>R</strong> - Ульт</li>
                    <li><strong>2</strong> - Слот с блинком</li>
                    <li><strong>Tab</strong> - Следующий юнит</li>
                    <li><strong>CapsLock</strong> - Выделить всех юнитов</li>
                    <li><strong>P</strong> - Выделить прочих юнитов</li>
                </ul>
            </li>
        </ul>
    </div>
</div>